.wrapper {
    margin-left: 30px;
}

@font-face {
    font-family: "GimelMultiGenderHebrew";
    src: url("../fonts/AlefMultiGndr-Regular.woff");
}

h2 {
    font-family: "GimelMultiGenderHebrew", sans-serif;
    font-size: 48px;

}

.title {
    font-family: "GimelMultiGenderHebrew", sans-serif;
    font-size: 42px;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 38px;
}
a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
}

ol {
	list-style-type: none;
	counter-reset: li;
}
.b {
	font-size: 2rem;
}

.b:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
      color: rgb(0, 89, 255);
      margin-right: 0.5em;
      font-family: 'Ubuntu', sans-serif;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.a {
    border-bottom: 1px solid #ccc;
}

.a:last-child {
    border: none;
}

.a a{
    display: block;
    width: 200px;
    -webkit-transition: font-size 0.3s ease, background-color 0,3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0,3s ease;
    -o-transition: font-size 0.3s ease, background-color 0,3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0,3s ease;
    transition: font-size 0.3s ease, background-color 0,3s ease;
}

.a a:hover{
    font-size: 36px;
    /* background: #e0e0e0; */
}

section {
    margin-left: 20px;
    width: 200px;
}