body {
    background: black;
}

.introLine {
    --intro-width: 15em;
  	width: var(--intro-width);
    margin: 0 0 0 (var(--intro-width) / 2);
	font-size: 200%;
	font-weight: 400;
  	color: rgb(75, 213, 238);
    opacity: 0;
	animation: intro 6s ease-out 1s;
    animation-play-state: paused;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Set the animation & hide the logo */
.logo {    
    position: absolute;
    top: 20%;
    left: 45%;
    z-index: 1;
    margin: auto;
    animation: logo 9s ease-out 9s;
    opacity: 0;
    animation-play-state: paused;
}

.logo img {
    width: inherit;
}


@keyframes logo {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

.startBtn {
    color: aliceblue;
}